.App {
    text-align: center;
  }

.App-logo{
    height: 30px;
    width: 130px;
}

//Header

.css-11b3ww9-MuiPaper-root-MuiAppBar-root {
    background-color: #00b9f5!important;
}

.content{
    position: absolute;
}

.content Card {
    position: relative;
}